#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}


.btn {
  float: right;
}

li {
  padding: 10px;
}

#theList {
  width: 800px;
}

.filters {
  margin: 5px;
}